.clock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.clock-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clock-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-list h1 {
  font-size: 120px;
  font-weight: bold;
  text-shadow: rgb(253, 253, 253) -2px -4px 0.5em;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.clock-list span {
  position: absolute;
  color: #120b12;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-bottom: 15px;
  text-shadow: rgb(253, 253, 253) -1px -2px 0.5em;
}
