.weather {
  position: absolute;
  top: 1.4em;
  right: 1.4em;
}

.weather img {
  width: 2.8em;
  height: 2.8em;
  margin-top: -0.8em;
  margin-right: -0.5em;
}

.weather h5 {
  font-weight: 600;
  font-size: 1.2em;
  display: flex;
}

.weather .place {
  display: block;
  text-transform: uppercase;
  text-align: right;
}
