.weather {
  position: absolute;
  top: 20px;
  right: 20px;
}

.weather img {
  width: 40px;
  height: 40px;
  margin-top: -12px;
  margin-right: -8px;
}

.weather h5 {
  font-weight: 600;
  font-size: 1.2em;
  display: flex;
}

.weather .place {
  display: block;
  text-transform: uppercase;
  text-align: right;
}
